# Copy this file to .env and fill in your values
SECRET_KEY=Vectra_secret_key_2026_1.0
IACAFE_API_KEY=ak_live_e1da24fac34d645d6fc63a8585996dbb2acd72bb7b16c509
IACAFE_WEBHOOK_SECRET=vectra_iacafe_webhook_secret_2026_IWSF1
FLASK_DEBUG=False